<%- include base.ejs %>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><i class="fas fa-ellipsis-v"></i> To do</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/api/auth/login">Sign out <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
    </nav>

<div class="jumbotron">
        <button id="newCard" class="btn btn-dark"><i class="fas fa-plus"></i> New</button>
    </div>

<div id="wrapper-container">
    <div id="container" class="container-fluid">
    </div>
</div>

    

    <template id="templateCard">
            <div class='wrapper'>
                <div id="draggable" class="card" style="width: 14rem;">
                    <div class='title'>
                        <h3></h3>
                        <input class="changeTitle" type="text" style="display: none">
                    </div>
                    <div class='inp'><input class="target" type="text" placeholder="Add new task"></div>
                    <div class='listItems'>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </template>
    
    <script src="/js/ajax.js"></script>
  

