<%- include base.ejs %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><i class="fas fa-ellipsis-v"></i> To do</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/api/auth/login">Login <i class="fas fa-user"></i></a>
                    </li>
                </ul>
            </div>
    </nav>

<div class="auth-block">
    <form action="/api/auth/register", method="post">
        <p><input class="auth" type="email" name="email" placeholder="E-mail"></p>
        <p><input class="auth" type="password" name="password" placeholder="Password"></p>
        <p><button id="login-btn" type="submit" class="btn btn-dark">&#x2794;</button></p>
        <p class="auth-link">Already have an account? 
            <a href="/api/auth/login">Just Sign In!</p>
    </form>
</div>
