doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
        link(rel="stylesheet", href="/css/style.css")
        title= pageTitle
    body
        nav(role="banner")
            .nav-wrapper
                a.nav-logo(href="/api/auth/login") &#10042; ToDo
                ul.nav-menu
                    li
                        block nav
                        
        block form-auth

        block success

        footer(role="contentinfo")
            span Hasjanov Oleg &#xa9; 2019
    script(src='/js/canvas.js')