extends base

block nav
    span Canvas

block success
    .canvas
        - for (var i = 0; i < listFields.length; i++) {
            .card
                .title= listFields[i].title
                ul(style="padding: 0;" id="taskList")
                    - for (var j = 0; j < listFields[i].lists.length; j++) {
                        - if (listFields[i].lists[j].status === false)
                            li(style="padding-top: 2px;" id="taskElement" name="taskElement")= listFields[i].lists[j].fieldText
                        - else
                            li(style="padding-top: 2px;" id="taskElement" name="taskElement").done= listFields[i].lists[j].fieldText
                    
                    - }
                input(type="text" name="task" id="task" placeholder="Add new task")
                button(type="submit" id="submit" name="taskSubmit") Save
        - }
