extends base

block nav
    span Register

block form-auth
    .auth-block
        form(action="/api/auth/login", method="post")
            div
                input(type="email", name="email" placeholder="E-mail")
            div
                input(type="password", name="password" placeholder="Password")
            div
                button(type="submit")  &#x2794;
            div
                p.auth-link
                    | Don't have account? 
                    a(href="/api/auth/register") Just Sign Up.