extends base

block nav
    span Login

block form-auth
    .auth-block
        .card
        .card-content
        form(action="/api/auth/register", method="post")
            .row
                input.input-field(type="email", name="email" placeholder="E-mail")
            .row
                input.input-field(type="password", name="password" placeholder="Password")
            .row
                button.btn.button-background(type="submit") &#x2794;
                p.auth-link
                    | Already have account? 
                    a(href="/api/auth/login") Just Log In.