body {
    background:#ffffdd;
    font-family: 'Open Sans', sans-serif;
    /* width: 100%;
    height: 100%; */
    margin: 0;
    padding: 0;
}


input {
    font-size: 15px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 4px 4px 4px 4px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #666;
    margin-left: .3em;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

h3 {
    font-size: 18px;
    padding-left: .4em;
    padding-top: 1em;
}

h3:hover span {
    width: 30px;
    opacity: 1.0;

}

.auth-block {
        position: relative;
		width:16em;
		padding:0;
		margin:10em auto !important;
}

#login-btn {
    float: right;
    height: 25px;
    width: 16em;
    vertical-align:middle;
    line-height:10px;
}

.auth {
    width: 250px;
}

.none {
    display: none;
}

.remove {
    float: right;
    height: 40px;
    text-align: center;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;
}


.card {
    float: left;
    margin: 1em;
    border: 3px solid #2980b9;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.title {
    background: #2980b9;
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.changeTitle {
    background-color: #2980b9;
    color: white;
    margin: 0;
    /* padding: 10px 20px; */
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}


.done {
    color: gray;
    text-decoration: line-through;
}


.jumbotron {
    padding-top: 0;
    height: 60px;
}

#newCard {
    margin-top: 10px;
}

.navbar-brand {
    margin-left: 1em;
}